<div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Address</h1>
        <table class="table table-borderless" style="background-color: rgb(241, 241, 241);">
        <tbody>
          <tr>
            <th scope="row">Identifier</th>
            <td class="is-overflow-ellipsis">{{ address?.address }}</td>
          </tr>
          <tr>
            <th scope="row">Balance</th>
            <td>{{ address?.balance/100000000 }} BTC</td>
          </tr>
        </tbody>
        </table>
        <br />
        <table class="table table-hover">
          <tbody>
            <tr>
              <th scope="row">Total received</th>
              <td>{{ address?.totalReceived/100000000 }} BTC</td>
            </tr>
            <tr>
              <th scope="row">Total sent</th>
              <td>{{ address?.totalSent/100000000 }} BTC</td>
            </tr>
            <tr>
              <th scope="row">Transactions</th>
              <td>{{ address?.txs }}</td>
            </tr>
          </tbody>
        </table>
        <br />
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <h2>Transactions</h2>
          <table class="table table-hover text-truncate">
              <thead>
                <tr>
                  <th scope="col">Hash</th>
                  <th scope="col">Output</th>
                  <th scope="col">Fees</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="is-overflow-ellipsis"><a href="/transactions">0000000000000000000795b009fa0dcf1e77b20e7f5ff122d89556c302db560d</a></td>
                  <td>0.3345879345</td>
                  <td>0.0018793425</td>
                </tr>
                <tr>
                  <td class="is-overflow-ellipsis"><a href="/transactions">0000000000000000000795b009fa0dcf1e77b20e7f5ff122d89556c302db560d</a></td>
                  <td>0.3345879345</td>
                  <td>0.0018793425</td>
                </tr>
                <tr>
                  <td class="is-overflow-ellipsis"><a href="/transactions">0000000000000000000795b009fa0dcf1e77b20e7f5ff122d89556c302db560d</a></td>
                  <td>0.3345879345</td>
                  <td>0.0018793425</td>
                </tr>
                <tr>
                  <td class="is-overflow-ellipsis"><a href="/transactions">0000000000000000000795b009fa0dcf1e77b20e7f5ff122d89556c302db560d</a></td>
                  <td>0.3345879345</td>
                  <td>0.0018793425</td>
                </tr>
              </tbody>
          </table>
          <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
        </div>
</div>
