<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>PumaPay Bitcoin Block Explorer</h1>
      <br/>
      <p>This service, powered by BlockBook API, allows you to monitor Bitcoin blockchain and retrieve data per each
        mined block, executed transaction or address.</p>
      <br/>
      <table class="table table-hover">
        <tbody>
        <tr>
          <th scope="row">Current Bitcoin price</th>
          <td>{{ 1/btcusdprice | number:'1.1-3' }} USD</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>{{ 1/btceurprice | number:'1.1-3' }} EUR</td>
        </tr>
        <tr>
        <tr>
          <th scope="row"></th>
          <td>{{ 1/btcjpyprice | number:'1.1-3' }} JPY</td>
        </tr>
        <tr>
          <th scope="row">Price source</th>
          <td><a href="https://www.blockchain.com">Blockchain.com</a></td>
        </tr>
        <tr>
          <th scope="row">Latest mined blocks</th>
          <td>
            <a [routerLink]="['/blocks', general?.bestHeight]">
              {{general?.bestHeight}}
            </a>
            <a [routerLink]="['/blocks', general?.bestHeight - 1]">
              {{general?.bestHeight - 1}}
            </a>
            <a [routerLink]="['/blocks', general?.bestHeight - 2]">
              {{general?.bestHeight - 2}}
            </a>
            <a [routerLink]="['/blocks', general?.bestHeight - 3]">
              {{general?.bestHeight - 3}}
            </a>
            <a [routerLink]="['/blocks', general?.bestHeight - 4]">
              {{general?.bestHeight - 4}}
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">Last block update</th>
          <td>{{ general?.lastBlockTime | date:'long' }}</td>
        </tr>
        <tr>
          <th scope="row">Host</th>
          <td>{{ general?.host }}</td>
        </tr>
        <tr>
          <th scope="row">Blockbook version</th>
          <td>{{ general?.version }}</td>
        </tr>
        <tr>
          <th scope="row">Mempool size</th>
          <td>{{ general?.mempoolSize }}</td>
        </tr>
        <tr>
          <th scope="row">Last mempool update</th>
          <td>{{ general?.lastMempoolTime | date:'long' }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
