<div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Block #{{ block?.height }}</h1>
        <table class="table table-borderless" style="background-color: rgb(241, 241, 241);">
        <tbody>
          <tr>
            <th scope="row">Hash</th>
            <td class="is-overflow-ellipsis">{{ block?.hash }}</td>
          </tr>
          <tr>
            <th scope="row">Mined</th>
            <td class="is-overflow-ellipsis"> {{ block?.time*1000 | date:'long' }} </td>
          </tr>
        </tbody>
        </table>
        <br />
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <table class="table table-hover">
            <tbody>
              <tr>
                <th scope="row">Height</th>
                <td class="is-overflow-ellipsis">{{ block?.height }}</td>
              </tr>
              <tr>
                <th scope="row">Transactions</th>
                <td class="is-overflow-ellipsis">{{ block?.txCount }}</td>
              </tr>
              <tr>
                <th scope="row">Confirmations</th>
                <td class="is-overflow-ellipsis">{{ block?.confirmations }}</td>
              </tr>
              <tr>
                <th scope="row">Size</th>
                <td class="is-overflow-ellipsis">{{ block?.size }}</td>
              </tr>
            </tbody>
          </table>
     </div>
     <div class="col-md-4">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th scope="row">Version</th>
              <td class="is-overflow-ellipsis">{{ block?.version }}</td>
            </tr>
            <tr>
              <th scope="row">Nonce</th>
              <td class="is-overflow-ellipsis">{{ block?.nonce }}</td>
            </tr>
            <tr>
              <th scope="row">Bits</th>
              <td class="is-overflow-ellipsis">{{ block?.bits }}</td>
            </tr>
            <tr>
              <th scope="row">Difficulty</th>
              <td class="is-overflow-ellipsis">{{ block?.difficulty }}</td>
            </tr>
          </tbody>
        </table>
       </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <table class="table table-hover">
            <tbody>
              <tr>
                <th scope="row">Merke root</th>
                <td class="is-overflow-ellipsis" style="width:80%">{{ block?.merkleRoot }}</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
    <div class="row">
        <div class="col-md-10">
          <h2>Transactions</h2>
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Hash</th>
                  <th scope="col">Input</th>
                  <th scope="col">Output</th>
                  <th scope="col">Fees</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tx of block?.txs | paginate: { itemsPerPage: 15, currentPage: p }; let i=index">
                  <td class="is-overflow-ellipsis"><a href="/transactions/{{ tx?.txid }}" target="_blank">{{ tx?.txid }}</a></td>
                  <td class="is-overflow-ellipsis">{{ tx?.valueIn/100000000 }}</td>
                  <td class="is-overflow-ellipsis">{{ tx?.value/100000000 }}</td>
                  <td class="is-overflow-ellipsis">{{ tx?.fees/100000000 }}</td>
                </tr>
              </tbody>
          </table>
      </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div align="center">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
