<div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Block #59034</h1>
        <table class="table table-borderless" style="background-color: rgb(241, 241, 241);">
        <tbody>
          <tr>
            <th scope="row">Hash</th>
            <td class="d-inline-block text-truncate" style="max-width: 380px">0000000000000000000795b009fa0dcf1e77b20e7f5ff122d89556c302db560d</td>
          </tr>
          <tr>
            <th scope="row">Mined</th>
            <td class="d-inline-block text-truncate">Sun, 18 Aug 2019 08:49:03 UTC</td>
          </tr>
        </tbody>
        </table>
        <br />
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <table class="table table-hover">
            <tbody>
              <tr>
                <th scope="row" class="col-md-6 text">Transactions</th>
                <td class="col-md-6" style="text-align:right">1456</td>
              </tr>
              <tr>
                <th scope="row" class="col-md-6">Height</th>
                <td class="col-md-6" style="text-align:right">559004</td>
              </tr>
              <tr>
                <th scope="row" class="col-md-6">Confirmations</th>
                <td class="col-md-6" style="text-align:right">8</td>
              </tr>
              <tr>
                <th scope="row" class="col-md-6">Size</th>
                <td class="col-md-6" style="text-align:right">22342</td>
              </tr>
            </tbody>
          </table>
     </div>
     <div class="col-md-4">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th scope="row" class="col-md-6">Version</th>
              <td class="col-md-6" style="text-align:right">1456</td>
            </tr>
            <tr>
              <th scope="row" class="col-md-6">Nonce</th>
              <td class="col-md-6" style="text-align:right">559004</td>
            </tr>
            <tr>
              <th scope="row" class="col-md-6">Bits</th>
              <td class="col-md-6" style="text-align:right">8</td>
            </tr>
            <tr>
              <th scope="row" class="col-md-6">Difficulty</th>
              <td class="col-md-6" style="text-align:right">20992342</td>
            </tr>
          </tbody>
        </table>
       </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <table class="table table-hover">
            <tbody>
              <tr>
                <th scope="row">Merke root</th>
                <td>0000000000000000000795b009fa0dcf1e77b20e7f5ff122d89556c302db560d</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <h2>Transactions</h2>
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Hash</th>
                  <th scope="col">Confirmations</th>
                  <th scope="col">Output</th>
                  <th scope="col">Fees</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="/transactions/">0000000000000000000795b009fa0dcf1e77b20e7f5ff122d89556c302db560d</a></td>
                  <td>12</td>
                  <td>0.3345879345</td>
                  <td>0.0018793425</td>
                </tr>
                <tr>
                  <td><a href="/transactions">0000000000000000000795b009fa0dcf1e77b20e7f5ff122d89556c302db560d</a></td>
                  <td>12</td>
                  <td>0.3345879345</td>
                  <td>0.0018793425</td>
                </tr>
                <tr>
                  <td><a href="/transactions">0000000000000000000795b009fa0dcf1e77b20e7f5ff122d89556c302db560d</a></td>
                  <td>12</td>
                  <td>0.3345879345</td>
                  <td>0.0018793425</td>
                </tr>
                <tr>
                  <td><a href="/transactions">0000000000000000000795b009fa0dcf1e77b20e7f5ff122d89556c302db560d</a></td>
                  <td>12</td>
                  <td>0.3345879345</td>
                  <td>0.0018793425</td>
                </tr>
              </tbody>
          </table>
          <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
        </div>
      </div>

