<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Transaction</h1>
      <table class="table table-borderless" style="background-color: rgb(241, 241, 241);">
      <tbody>
        <tr>
          <th scope="row">Hash</th>
          <td>{{ hash }}</td>
        </tr>
        <tr>
          <th scope="row">Mined</th>
          <td>{{ timeStamp }}</td>
        </tr>
      </tbody>
      </table>
      <br />
      <table class="table table-hover">
        <tbody>
          <tr>
            <th scope="row">Block hash</th>
            <td><a href="/blocks">0000000000000000000795b009fa0dcf1e77b20e7f5ff122d89556c302db560d</a></td>
          </tr>
          <tr>
            <th scope="row">Block height</th>
            <td>559004</td>
          </tr>
          <tr>
            <th scope="row">Confirmations</th>
            <td>8</td>
          </tr>
          <tr>
            <th scope="row">Total Output</th>
            <td>0.3345879345</td>
          </tr>
          <tr>
            <th scope="row">Fees</th>
            <td>0.0005879345</td>
          </tr>
        </tbody>
      </table>
      <br />
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <h2>Details</h2>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6" style="background-color: rgb(241, 241, 241); padding-top: 15px; padding-bottom: 15px">
        <h4>Input</h4>
        <table class="table table-hover" style="background-color: #ffffff;">
            <tbody>
              <tr>
                <td><a href="/addresses">1MEz8x9kCRjmrjpzwQXCb5FoBwyW7429Gs</a></td>
                <td>0.3495809</td>
              </tr>
              <tr>
                <td><a href="/addresses">1MEz8x9kCRjmrjpzwQXCb5FoBwyW7429Gs</a></td>
                <td>0.1295834</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col-md-6" style="background-color: rgb(241, 241, 241); padding-top: 15px; padding-bottom: 15px">
        <h4>Output</h4>
        <table class="table table-hover" style="background-color: #ffffff;">
            <tbody>
              <tr>
                <td><a href="/addresses">1MEz8x9kCRjmrjpzwQXCb5FoBwyW7429Gs</a></td>
                <td>0.3495809</td>
              </tr>
              <tr>
                <td><a href="/addresses">1MEz8x9kCRjmrjpzwQXCb5FoBwyW7429Gs</a></td>
                <td>0.1295834</td>
              </tr>
              <tr>
                <td><a href="/addresses">1MEz8x9kCRjmrjpzwQXCb5FoBwyW7429Gs</a></td>
                <td>0.3495809</td>
              </tr>
              <tr>
                <td><a href="/addresses">1MEz8x9kCRjmrjpzwQXCb5FoBwyW7429Gs</a></td>
                <td>0.1295834</td>
                </tr>
            </tbody>
          </table>
      </div>
  </div>
</div>

