<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Transaction</h1>
      <table class="table table-borderless" style="background-color: rgb(241, 241, 241);">
      <tbody>
        <tr>
          <th scope="row">Hash</th>
          <td class="is-overflow-ellipsis">{{ hash }}</td>
        </tr>
        <tr>
          <th scope="row">Mined</th>
          <td>{{ tx?.blockTime*1000 | date:'long' }}</td>
        </tr>
      </tbody>
      </table>
      <br />
      <table class="table table-hover">
        <tbody>
          <tr>
            <th scope="row">Block hash</th>
            <td class="is-overflow-ellipsis">{{ tx?.blockHash }}</td>
          </tr>
          <tr>
            <th scope="row">Block height</th>
            <td><a [routerLink]="['/blocks/', tx?.blockHeight]">{{ tx?.blockHeight }}</a></td>
          </tr>
          <tr>
            <th scope="row">Confirmations</th>
            <td>{{ tx?.confirmations }}</td>
          </tr>
          <tr>
            <th scope="row">Total Output</th>
            <td>{{ tx?.value/100000000 }} BTC</td>
          </tr>
          <tr>
            <th scope="row">Fees</th>
            <td>{{ tx?.fees/100000 }}</td>
          </tr>
        </tbody>
      </table>
      <br />
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <h2>Details</h2>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6" style="background-color: rgb(241, 241, 241); padding-top: 15px; padding-bottom: 15px">
        <h4>Input</h4>
        <table class="table table-hover" style="background-color: #ffffff;">
            <tbody>
              <tr *ngFor="let vin of tx?.vin">
                <td class="is-overflow-ellipsis" style="width: 70%">
                  <a *ngIf="vin.isAddress" [routerLink]="['/addresses/', vin?.addresses[0]]">{{ vin?.addresses }}</a>
                  <span *ngIf="!vin.isAddress"></span>
                </td>
                <td align="right">
                  <span *ngIf="vin.isAddress">{{ vin?.value/100000000 }} BTC</span>
                  <span *ngIf="!vin.isAddress">No input</span>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col-md-6" style="background-color: rgb(241, 241, 241); padding-top: 15px; padding-bottom: 15px">
        <h4>Output</h4>
        <table class="table table-hover" style="background-color: #ffffff;">
            <tbody>
              <tr *ngFor="let vout of tx?.vout">
                <td class="is-overflow-ellipsis" style="width: 80%">
                  <a *ngIf="vout.isAddress" [routerLink]="['/addresses/', vout?.addresses[0]]">{{ vout?.addresses }}</a>
                  <span *ngIf="!vout.isAddress"> {{ vout?.addresses }} </span>
                </td>
                <td>{{ vout?.value/100000000 }}</td>
              </tr>
            </tbody>
          </table>
      </div>
  </div>
</div>

